body {
  font-family: 'Futura';
  font-weight: 300;
  margin: 0 auto;
}
#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.container {
  max-width: 1530px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;

  @include max {
    max-width: 1366px;
  }

  @include exlg {
    //max-width: 1140px;
  }

  @include lg {
    //max-width: 960px;
  }

  @include md {
    //max-width: 720px;
  }

  @include sd {
    max-width: 100%;
  }
}
a{
  cursor:pointer;
  &:not(.button) {
    color:$green-deep;
    &:hover {
      text-decoration: none;
      color:$red
    }

    &:active {

    }
  }
}

button {
  &:active {

  }
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.main-fixed {
  @include md {
    position: fixed;
  }
}

[v-cloak] { display: none !important;}
h1 {
  color: $green-deep;
  font-size: 40px;
  font-weight: 700;
}
h2 {
  color: $green-deep;
  font-size: 35px;
  font-weight: 700;
}
h3 {
  color: $green-deep;
  font-size: 30px;
  font-weight: 700;
}
h4 {
  color: $green-deep;
  font-size: 25px;
  font-weight: 700;
}
h5 {
  font-size: 20px;
  color: $green-deep;
  font-weight: 700;
}
button.green {
  background: $green;
  color:$white;
  &:hover {
    background: $green2;
  }
}
.min-height {
  max-height: 0 !important;
}

.height100 {height:100% !important;}

a[type=button] {
  background: $green-light;
  border:1px solid $green-light;
  font-size: 20px;
  color: white;
  border-radius: 3px;
  padding: 10px;
  margin: 20px auto;
  display: block;
  width: fit-content;
  &:hover {
    color:$white;
    background: $green;
    border:1px solid $green;
  }
}